<a href="https://colab.research.google.com/github/pasdptt/PasdPublicNB/blob/master/Intro2Spark_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Installing Spark on Colab
References Readings/Links <br>
*   http://apache.osuosl.org/spark/spark-3.0.0-preview2/
*   https://medium.com/@sushantgautam_930/apache-spark-in-google-collaboratory-in-3-steps-e0acbba654e6 <br>
*   https://notebooks.gesis.org/binder/jupyter/user/databricks-koalas-kuv5qckt/notebooks/docs/source/getting_started/10min.ipynb <br>
*   https://medium.com/@sushantgautam_930/apache-spark-in-google-collaboratory-in-3-steps-e0acbba654e6 <br>
*   https://towardsdatascience.com/introduction-to-apache-spark-207a479c3001
*   https://spark.apache.org/
*   https://medium.com/@amjadraza24/spark-ifying-pandas-databricks-koalas-with-google-colab-93028890db5

# Step 1 : Install Java, Spark, and Findspark

In [1]:
!apt-get update

Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:3 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:4 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Hit:5 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:8 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:10 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:11 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Hit:12 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:13 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:14 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:15 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:16 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [575 kB]
Get:17 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,294 kB]
Get:18 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,792 kB]
Get:19 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,196 kB]
Get:20 http://archive.ubuntu.com/ubuntu bionic-updates/multiverse amd64 Packages [34.4 kB]
Get:21 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,729 kB]
Get:22 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [543 kB]
Get:23 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,421 kB]
Get:24 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [917 kB]
Fetched 12.8 MB in 6s (2,079 kB/s)
Reading package lists... Done

In [2]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [10]:
#Get Install the Java Development Kit
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
#Get Spark lib -- address need to be change according to the current version of Spark: https://downloads.apache.org/spark/
#!wget -q http://apache.osuosl.org/spark/spark-3.0.3/spark-3.0.3-bin-hadoop3.2.tgz
#Unzip th Spark
!tar xf spark-3.0.3-bin-hadoop3.2.tgz
#install findspark for Python
!pip install -q findspark
#!pip install -q sparksql-magic

In [11]:
#Install extra lib(s)
!pip install -q xlrd
!pip install -q kaggle
!pip install -q kora

# Step 2: Set Environment Variables

In [12]:
#import and set environment for spark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.3-bin-hadoop3.2"

In [13]:
import kora
import pandas as pd

# Step 3: Start a SparkSession

In [14]:
import findspark
findspark.init()
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql import *

SPARK_URL = "local[*]"

spark = SparkSession.builder.master(SPARK_URL).getOrCreate()

In [15]:
# Check the pyspark version
import pyspark
print(pyspark.__version__)

3.0.3

In [16]:
df = spark.createDataFrame([{"hello": "world"} for x in range(1000)])
df.show(3)

/content/spark-3.0.3-bin-hadoop3.2/python/pyspark/sql/session.py:381: UserWarning: inferring schema from dict is deprecated,please use pyspark.sql.Row instead
  warnings.warn("inferring schema from dict is deprecated,"

+-----+
|hello|
+-----+
|world|
|world|
|world|
+-----+
only showing top 3 rows

# Special Step: Getting data from kaggle

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [ ]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = "/content/gdrive/My Drive/Kaggle"

In [ ]:
!kaggle datasets download -d hverified/web-scraped-data-of-fifa-world-cup-2018-players

Downloading web-scraped-data-of-fifa-world-cup-2018-players.zip to /content
  0% 0.00/13.7k [00:00<?, ?B/s]
100% 13.7k/13.7k [00:00<00:00, 12.3MB/s]

In [ ]:
!unzip /content/web-scraped-data-of-fifa-world-cup-2018-players.zip  && rm /content/web-scraped-data-of-fifa-world-cup-2018-players.zip

Archive:  /content/web-scraped-data-of-fifa-world-cup-2018-players.zip
  inflating: Fifa_players.csv

# Step 4: Mount CSV data to table

In [ ]:
file_path = "./Fifa_players.csv"

df_test = spark.read.options(header="true",inferschema = "true").csv(file_path)

df_test.show()

+---+---+-------+----------+------------------+-------------------+-------------------+----------+
|_c0|Age|Country|Height(cm)|International Caps|International Goals|               Name|      Role|
+---+---+-------+----------+------------------+-------------------+-------------------+----------+
|  0| 29|   Peru|  189.0 cm|                42|                  0|      Pedro GALLESE|Goalkeeper|
|  1| 34|   Peru|  179.0 cm|                75|                  0|  Alberto RODRIGUEZ|  Defender|
|  2| 29|   Peru|  172.0 cm|                24|                  0|         Aldo CORZO|  Defender|
|  3| 27|   Peru|  185.0 cm|                 8|                  0|Anderson SANTAMARIA|  Defender|
|  4| 24|   Peru|  178.0 cm|                 8|                  0|      Miguel ARAUJO|  Defender|
|  5| 26|   Peru|  169.0 cm|                29|                  0|      Miguel TRAUCO|  Defender|
|  6| 28|   Peru|  175.0 cm|                34|                  3|      Paolo HURTADO|Midfielder|
|  7| 27|   Peru|  169.0 cm|                48|                  8|    Christian CUEVA|Midfielder|
|  8| 35|   Peru|  185.0 cm|                92|                 36|     Paolo GUERRERO|   Forward|
|  9| 34|   Peru|  178.0 cm|                86|                 25|   Jefferson FARFAN|   Forward|
| 10| 28|   Peru|  169.0 cm|                32|                  4|       Raul RUIDIAZ|   Forward|
| 11| 27|   Peru|  185.0 cm|                 6|                  0|      Carlos CACEDA|Goalkeeper|
| 12| 23|   Peru|  185.0 cm|                33|                  3|       Renato TAPIA|Midfielder|
| 13| 24|   Peru|  174.0 cm|                17|                  1|          Andy POLO|Midfielder|
| 14| 30|   Peru|  185.0 cm|                73|                  3|    Christian RAMOS|  Defender|
| 15| 24|   Peru|  179.0 cm|                 4|                  0|   Wilder CARTAGENA|Midfielder|
| 16| 29|   Peru|  178.0 cm|                68|                  0|     Luis ADVINCULA|  Defender|
| 17| 27|   Peru|  181.0 cm|                49|                  6|     Andre CARRILLO|   Forward|
| 18| 28|   Peru|  173.0 cm|                76|                  2|     Yoshimar YOTUN|Midfielder|
| 19| 24|   Peru|  170.0 cm|                32|                  9|      Edison FLORES|   Forward|
+---+---+-------+----------+------------------+-------------------+-------------------+----------+
only showing top 20 rows

In [ ]:
#or

sqlContext = SQLContext(spark)

df_test2 = sqlContext.read.format('com.databricks.spark.csv')\
  .options(header='true', inferschema='true')\
  .load(file_path)

df_test2.show()

+---+---+-------+----------+------------------+-------------------+-------------------+----------+
|_c0|Age|Country|Height(cm)|International Caps|International Goals|               Name|      Role|
+---+---+-------+----------+------------------+-------------------+-------------------+----------+
|  0| 29|   Peru|  189.0 cm|                42|                  0|      Pedro GALLESE|Goalkeeper|
|  1| 34|   Peru|  179.0 cm|                75|                  0|  Alberto RODRIGUEZ|  Defender|
|  2| 29|   Peru|  172.0 cm|                24|                  0|         Aldo CORZO|  Defender|
|  3| 27|   Peru|  185.0 cm|                 8|                  0|Anderson SANTAMARIA|  Defender|
|  4| 24|   Peru|  178.0 cm|                 8|                  0|      Miguel ARAUJO|  Defender|
|  5| 26|   Peru|  169.0 cm|                29|                  0|      Miguel TRAUCO|  Defender|
|  6| 28|   Peru|  175.0 cm|                34|                  3|      Paolo HURTADO|Midfielder|
|  7| 27|   Peru|  169.0 cm|                48|                  8|    Christian CUEVA|Midfielder|
|  8| 35|   Peru|  185.0 cm|                92|                 36|     Paolo GUERRERO|   Forward|
|  9| 34|   Peru|  178.0 cm|                86|                 25|   Jefferson FARFAN|   Forward|
| 10| 28|   Peru|  169.0 cm|                32|                  4|       Raul RUIDIAZ|   Forward|
| 11| 27|   Peru|  185.0 cm|                 6|                  0|      Carlos CACEDA|Goalkeeper|
| 12| 23|   Peru|  185.0 cm|                33|                  3|       Renato TAPIA|Midfielder|
| 13| 24|   Peru|  174.0 cm|                17|                  1|          Andy POLO|Midfielder|
| 14| 30|   Peru|  185.0 cm|                73|                  3|    Christian RAMOS|  Defender|
| 15| 24|   Peru|  179.0 cm|                 4|                  0|   Wilder CARTAGENA|Midfielder|
| 16| 29|   Peru|  178.0 cm|                68|                  0|     Luis ADVINCULA|  Defender|
| 17| 27|   Peru|  181.0 cm|                49|                  6|     Andre CARRILLO|   Forward|
| 18| 28|   Peru|  173.0 cm|                76|                  2|     Yoshimar YOTUN|Midfielder|
| 19| 24|   Peru|  170.0 cm|                32|                  9|      Edison FLORES|   Forward|
+---+---+-------+----------+------------------+-------------------+-------------------+----------+
only showing top 20 rows

In [ ]:
df_test.registerTempTable("fifa2018")

In [ ]:
sqlContext.sql("""
select * from fifa2018
""").show()

+---+---+-------+----------+------------------+-------------------+-------------------+----------+
|_c0|Age|Country|Height(cm)|International Caps|International Goals|               Name|      Role|
+---+---+-------+----------+------------------+-------------------+-------------------+----------+
|  0| 29|   Peru|  189.0 cm|                42|                  0|      Pedro GALLESE|Goalkeeper|
|  1| 34|   Peru|  179.0 cm|                75|                  0|  Alberto RODRIGUEZ|  Defender|
|  2| 29|   Peru|  172.0 cm|                24|                  0|         Aldo CORZO|  Defender|
|  3| 27|   Peru|  185.0 cm|                 8|                  0|Anderson SANTAMARIA|  Defender|
|  4| 24|   Peru|  178.0 cm|                 8|                  0|      Miguel ARAUJO|  Defender|
|  5| 26|   Peru|  169.0 cm|                29|                  0|      Miguel TRAUCO|  Defender|
|  6| 28|   Peru|  175.0 cm|                34|                  3|      Paolo HURTADO|Midfielder|
|  7| 27|   Peru|  169.0 cm|                48|                  8|    Christian CUEVA|Midfielder|
|  8| 35|   Peru|  185.0 cm|                92|                 36|     Paolo GUERRERO|   Forward|
|  9| 34|   Peru|  178.0 cm|                86|                 25|   Jefferson FARFAN|   Forward|
| 10| 28|   Peru|  169.0 cm|                32|                  4|       Raul RUIDIAZ|   Forward|
| 11| 27|   Peru|  185.0 cm|                 6|                  0|      Carlos CACEDA|Goalkeeper|
| 12| 23|   Peru|  185.0 cm|                33|                  3|       Renato TAPIA|Midfielder|
| 13| 24|   Peru|  174.0 cm|                17|                  1|          Andy POLO|Midfielder|
| 14| 30|   Peru|  185.0 cm|                73|                  3|    Christian RAMOS|  Defender|
| 15| 24|   Peru|  179.0 cm|                 4|                  0|   Wilder CARTAGENA|Midfielder|
| 16| 29|   Peru|  178.0 cm|                68|                  0|     Luis ADVINCULA|  Defender|
| 17| 27|   Peru|  181.0 cm|                49|                  6|     Andre CARRILLO|   Forward|
| 18| 28|   Peru|  173.0 cm|                76|                  2|     Yoshimar YOTUN|Midfielder|
| 19| 24|   Peru|  170.0 cm|                32|                  9|      Edison FLORES|   Forward|
+---+---+-------+----------+------------------+-------------------+-------------------+----------+
only showing top 20 rows

In [ ]:
sqlContext.sql("""
select Role,count(*) from fifa2018 group by Role
""").show()

+----------+--------+
|      Role|count(1)|
+----------+--------+
|      null|       2|
|  Defender|     246|
|Goalkeeper|      96|
|   Forward|     159|
|Midfielder|     233|
+----------+--------+

# How to save result as CSV to your "Drive"

In [ ]:
df_test\
   .coalesce(1)\
   .write.format("com.databricks.spark.csv")\
   .option("header", "true")\
   .save("test_output.csv")\

# Lab 2



1.   Find total unique player in Fifa 2018
2.   Find out that which role (position) paticipate most in Fifa 2018
3.   Find out that in each country, which role (position) paticipate most
4.   Find Maximum and Minimum age in each country players
5.   Find out the average age of each role (position)
6.   How many country paticipate in Fifa 2018
7.   Total Goal of each country by posistion in decending order
8.   Identify how many player(s) who has name as "Miguel", and which country(s) the came from

In [ ]:
#Hint

df_result = sqlContext.sql("""
""").show()

df_test\
   .coalesce(1)\
   .write.format("com.databricks.spark.csv")\
   .option("header", "true")\
   .save()\

+--------+--------------------+
|count(1)|count(DISTINCT Name)|
+--------+--------------------+
|       4|                   4|
+--------+--------------------+

Delivery Point


1.   Results
2.   SQL script(s) to get the result