<a href="https://colab.research.google.com/github/pasdptt/PasdPublicNB/blob/master/Review_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Review Python (for Statistician, class 1 and 2)

In [ ]:
#To clear all output
from IPython.display import clear_output
clear_output(wait=True)

Let Guest what is this one?

In [ ]:
def someGreatFunction(arr):
  if len(arr) <= 1:
    return arr
  pivot = arr[len(arr) // 2]
  left = [x for x in arr if x < pivot]
  middle = [x for x in arr if x == pivot]
  right = [x for x in arr if x > pivot]
  return someGreatFunction(left) + middle + someGreatFunction(right)

print(someGreatFunction([3,6,8,10,1,2,1]))

# Example Variables

In [ ]:
x = 10
y = 3

In [ ]:
x + y

13

In [ ]:
x - y

7

In [ ]:
x ** y

1000

In [ ]:
x / y

3.3333333333333335

In [ ]:
x / float(y)

3.3333333333333335

In [ ]:
str(x)+"+"+str(y)

'10+3'

**Built-in Values** # Usual true/false values

*  True
*  False
*  None # Represents the absence of something
> * x = None # Variables can be None
> * array = [1,2,None] # Lists can contain None

**Functions can return None**

In [ ]:
def func():
  return None



**Can check for equality**

In [ ]:
if [1,2] != [3,4]:
  print ("Error!")

Error!

# No Brackets, use Indents

<n>Code blocks are created using indents.

*   Indents can be 2 or 4 spaces, but should be consistent throughout the file.
*   If using Vim, set this value to be consistent in your .vimrc

In [ ]:
def fib(n):
  # Indent level 1: function body
  if n <= 1:
    # Indent level 2: if statement body
    return 1
  else:
    # Indent level 2: else statement body
    return fib(n-1)+fib(n-2)

fib(10)

89

# Python is a strongly-typed and dynamically-typed language.

**Strongly-typed**: Types will not be coerced silently like in JavaScript.

**Dynamically-typed**: Variables are names for values or object references.

Variables can be reassigned to values of a different type.

Execution: Python is “slower”, but it can run highly optimized C/C++ subroutines which make scientific computing (e.g. matrix multiplication) really fast.

In [ ]:
#Strongly-typed
1 + ‘1’

SyntaxError: ignored

In [ ]:
#Dynamically-typed
foo = [1,2,3]
print(foo)

[1, 2, 3]

In [ ]:
foo =  "hello!"
print(foo)

hello!

# Collections: List

## Lists are mutable arrays

In [ ]:
names=[]
print(names)

[]

In [ ]:
names=list()
print(names)

[]

In [ ]:
names = ['Zach', 'Jay']

In [ ]:
names[0] == 'Zach'

True

In [ ]:
names.append('Richard')

In [ ]:
len(names) == 3

True

In [ ]:
print(names)

['Zach', 'Jay', 'Richard']

In [ ]:
names.extend(['Abi', 'Kevin'])

In [ ]:
print(names)

['Zach', 'Jay', 'Richard', 'Abi', 'Kevin']

In [ ]:
stuff = [1, ['hi','bye'], -0.12, None]
print(stuff)

[1, ['hi', 'bye'], -0.12, None]

## List Slicing

List elements can be accessed in convenient ways.

Basic format: some_list[start_index:end_index]

In [ ]:
numbers = [0, 1, 2, 3, 4, 5, 6]

In [ ]:
numbers[0:3] == numbers[:3] == [0, 1, 2]

True

In [ ]:
numbers[5:] == numbers[5:7] == [5, 6]

True

In [ ]:
numbers[:] == numbers == [0, 1, 2, 3, 4, 5, 6]

True

In [ ]:
numbers[-1] == 6

True

In [ ]:
numbers[-3:] == [4, 5, 6]

True

In [ ]:
numbers[3:-2] == [3, 4]

True

# Collections: Tuple

Tuples are immutable arrays

In [ ]:
names = ('Zach', 'Jay') # Note the parentheses

In [ ]:
names[0] == 'Zach'

True

In [ ]:
len(names) == 2

True

In [ ]:
print(names)

('Zach', 'Jay')

In [ ]:
names[0] = ‘Richard’

SyntaxError: ignored

In [ ]:
empty = tuple()
print(empty)

()

In [ ]:
single = (10,)
print(single)

(10,)

# Collections: Dictionary

Dictionaries are hash maps

In [ ]:
phonebook = dict() # Empty dictionary
print(phonebook)

{}

In [ ]:
phonebook = {'Zach': '12-37'}
print(phonebook)

{'Zach': '12-37'}

In [ ]:
phonebook['Jay'] = '34-23'
print(phonebook)

{'Zach': '12-37', 'Jay': '34-23'}

In [ ]:
print('Zach' in phonebook)

True

In [ ]:
print('Kavin' in phonebook)

False

In [ ]:
print(phonebook['Jay'])

34-23

In [ ]:
del phonebook['Zach']

In [ ]:
print(phonebook)

{'Jay': '34-23'}

In [ ]:
for name, number in phonebook.items():
  print (name, number)

Jay 34-23

# Play with Loop

In [ ]:
for name in ['Zack', 'Jay', 'Richard']:
 print ('Hi ' + name + '!')

Hi Zack!
Hi Jay!
Hi Richard!

In [ ]:
while True:
  print('We’re stuck in a loop...')
  break

In [ ]:
for i in range(10): # Want an index also?
  print ('Line ' + str(i)) # Look at enumerate()!

Line 0
Line 1
Line 2
Line 3
Line 4
Line 5
Line 6
Line 7
Line 8
Line 9

In [ ]:
for x, y in [(1,10), (2,20), (3,30)]:
  print (x, y)

1 10
2 20
3 30

# Python as OOP

In [ ]:
class Animal(object):
  def __init__(self, species, age): # Constructor `a = Animal(‘bird’, 10)`
    self.species = species # Refer to instance with `self`
    self.age = age # All instance variables are public

  def isPerson(self): # Invoked with `a.isPerson()`
    return self.species == 'Homo Sapiens'

  def ageOneYear(self):
    self.age += 1

class Dog(Animal): # Inherits Animal’s methods
  def ageOneYear(self): # Override for dog years
    self.age += 7

In [ ]:
a = Animal('bird', 10)
print(a.species, a.age)

bird 10

In [ ]:
print(a.isPerson())

False

# Importing Modules

In [ ]:
# Import ‘os’ and ‘time’ modules
import os, time
# Import under an alias
import numpy as np
np.dot(x, y) # Access components with pkg.fn
# Import specific submodules/functions
from numpy import linalg as la, dot as matrix_multiply

#Calculating Descriptive Statistics

Ref: https://realpython.com/python-statistics/

In [3]:
import math
import statistics
import numpy as np
import scipy.stats
import pandas as pd

newline = "\r\n"

Note: How do you get a nan value?

In Python, you can use any of the following:
*   float('nan')
*   math.nan
*   np.nan

You can use all of these functions interchangeably:

> math.isnan(np.nan), np.isnan(math.nan)

>>(True, True)

>math.isnan(y_with_nan[3]), np.isnan(y_with_nan[3])

>>(True, True)

You can see that the functions are all equivalent. However, please keep in mind that comparing two nan values for equality returns False. In other words, math.nan == math.nan is False!

In [14]:
x = [8.0, 1, 2.5, 4, 28.0]
x_with_nan = [8.0, 1, 2.5, math.nan, 4, 28.0]
x

[8.0, 1, 2.5, 4, 28.0]

In [15]:
x_with_nan

[8.0, 1, 2.5, nan, 4, 28.0]

In [16]:
y, y_with_nan = np.array(x), np.array(x_with_nan)
z, z_with_nan = pd.Series(x), pd.Series(x_with_nan)
print(newline,y,newline,y_with_nan)

 [ 8.   1.   2.5  4.  28. ]
 [ 8.   1.   2.5  nan  4.  28. ]

In [ ]:
print(z,newline,z_with_nan)

0     8.0
1     1.0
2     2.5
3     4.0
4    28.0
dtype: float64
 0     8.0
1     1.0
2     2.5
3     NaN
4     4.0
5    28.0
dtype: float64

###Measures of Central Tendency

* Mean
* Weighted mean
* Geometric mean
* Harmonic mean
* Median
* Mode

####Mean

The sample mean, also called the sample arithmetic mean or simply the average, is the arithmetic average of all the items in a dataset. The mean of a dataset 𝑥 is mathematically expressed as Σᵢ𝑥ᵢ/𝑛, where 𝑖 = 1, 2, …, 𝑛. In other words, it’s the sum of all the elements 𝑥ᵢ divided by the number of items in the dataset 𝑥.

Possible solution

In [ ]:
#Manual

mean_ = sum(x)/len(x)
mean_

8.7

In [ ]:
mean_ = statistics.mean(x)
mean_

8.7

In [ ]:
#ver3.8++
mean_ = statistics.fmean(x)
mean_

However, if there are nan values among your data, then statistics.mean() will return nan as the output:

In [ ]:
mean_ = statistics.mean(x_with_nan)
mean_

nan

Which can be fixed by:

In [ ]:
np.nanmean(y_with_nan)

8.7

####Weighted Mean

The weighted mean, also called the weighted arithmetic mean or weighted average, is a generalization of the arithmetic mean that enables you to define the relative contribution of each data point to the result.

You define one weight 𝑤ᵢ for each data point 𝑥ᵢ of the dataset 𝑥, where 𝑖 = 1, 2, …, 𝑛 and 𝑛 is the number of items in 𝑥. Then, you multiply each data point with the corresponding weight, sum all the products, and divide the obtained sum with the sum of weights: Σᵢ(𝑤ᵢ𝑥ᵢ) / Σᵢ𝑤ᵢ.

In [4]:
x = [8.0, 1, 2.5, 4, 28.0]
w = [0.1, 0.2, 0.3, 0.25, 0.15]
wmean = sum(w[i] * x[i] for i in range(len(x))) / sum(w)
wmean

6.95

In [5]:
wmean = sum(x_ * w_ for (x_, w_) in zip(x, w)) / sum(w)
wmean

6.95

In [6]:
y, z, w = np.array(x), pd.Series(x), np.array(w)
wmean = np.average(y, weights=w)
wmean

6.95

In [7]:
wmean = np.average(z, weights=w)
wmean

6.95

In [8]:
(w * y).sum() / w.sum()

6.95

####Harmonic Mean
The harmonic mean is the reciprocal of the mean of the reciprocals of all items in the dataset: 𝑛 / Σᵢ(1/𝑥ᵢ), where 𝑖 = 1, 2, …, 𝑛 and 𝑛 is the number of items in the dataset 𝑥. One variant of the pure Python implementation of the harmonic mean is this:

In [12]:
hmean = len(x) / sum(1 / item for item in x)
hmean

2.7613412228796843

In [13]:
hmean = statistics.harmonic_mean(x)
hmean

2.7613412228796843

In [19]:
#issue example
print(statistics.harmonic_mean(x_with_nan),statistics.harmonic_mean([1, 0, 2]))

nan 0

In [20]:
statistics.harmonic_mean([1, 2, -2])

StatisticsError: ignored

####Geometric Mean
The geometric mean is the 𝑛-th root of the product of all 𝑛 elements 𝑥ᵢ in a dataset 𝑥: ⁿ√(Πᵢ𝑥ᵢ), where 𝑖 = 1, 2, …, 𝑛. The following figure illustrates the arithmetic, harmonic, and geometric means of a dataset:

![py-stats-02.webp]()

Again, the green dots represent the data points 1, 2.5, 4, 8, and 28. The red dashed line is the mean. The blue dashed line is the harmonic mean, and the yellow dashed line is the geometric mean.

You can implement the geometric mean in pure Python like this:

In [21]:
gmean = 1
for item in x:
  gmean *= item
gmean **= 1 / len(x)
gmean

4.677885674856041

In [ ]:
#ver3.8
gmean = statistics.geometric_mean(x)
gmean

####Median
The sample median is the middle element of a sorted dataset. The dataset can be sorted in increasing or decreasing order. If the number of elements 𝑛 of the dataset is odd, then the median is the value at the middle position: 0.5(𝑛 + 1). If 𝑛 is even, then the median is the arithmetic mean of the two values in the middle, that is, the items at the positions 0.5𝑛 and 0.5𝑛 + 1.

For example, if you have the data points 2, 4, 1, 8, and 9, then the median value is 4, which is in the middle of the sorted dataset (1, 2, 4, 8, 9). If the data points are 2, 4, 1, and 8, then the median is 3, which is the average of the two middle elements of the sorted sequence (2 and 4). The following figure illustrates this:

![py-stats-04.f7b39a21dd2d.png]()

The data points are the green dots, and the purple lines show the median for each dataset. The median value for the upper dataset (1, 2.5, 4, 8, and 28) is 4. If you remove the outlier 28 from the lower dataset, then the median becomes the arithmetic average between 2.5 and 4, which is 3.25.

The figure below shows both the mean and median of the data points 1, 2.5, 4, 8, and 28:

![py-stats-03.webp]()

Again, the mean is the red dashed line, while the median is the purple line.

The main difference between the behavior of the mean and median is related to dataset outliers or extremes. The mean is heavily affected by outliers, but the median only depends on outliers either slightly or not at all. Consider the following figure:

![py-stats-05.b5c3dba0cd5f.png]()

The upper dataset again has the items 1, 2.5, 4, 8, and 28. Its mean is 8.7, and the median is 5, as you saw earlier. The lower dataset shows what’s going on when you move the rightmost point with the value 28:

If you increase its value (move it to the right), then the mean will rise, but the median value won’t ever change.
If you decrease its value (move it to the left), then the mean will drop, but the median will remain the same until the value of the moving point is greater than or equal to 4.
You can compare the mean and median as one way to detect outliers and asymmetry in your data. Whether the mean value or the median value is more useful to you depends on the context of your particular problem.

Here is one of many possible pure Python implementations of the median:

In [23]:
n = len(x)
if n % 2:
  median_ = sorted(x)[round(0.5*(n-1))]
else:
  x_ord, index = sorted(x), round(0.5 * n)
  median_ = 0.5 * (x_ord[index-1] + x_ord[index])
median_

4

Two most important steps of this implementation are as follows:

Sorting the elements of the dataset
Finding the middle element(s) in the sorted dataset
You can get the median with statistics.median():

In [24]:
median_ = statistics.median(x)
median_

4

In [25]:
median_ = statistics.median(x[:-1])
median_

3.25

The sorted version of x is [1, 2.5, 4, 8.0, 28.0], so the element in the middle is 4. The sorted version of x[:-1], which is x without the last item 28.0, is [1, 2.5, 4, 8.0]. Now, there are two middle elements, 2.5 and 4. Their average is 3.25.

median_low() and median_high() are two more functions related to the median in the Python statistics library. They always return an element from the dataset:

If the number of elements is odd, then there’s a single middle value, so these functions behave just like median().
If the number of elements is even, then there are two middle values. In this case, median_low() returns the lower and median_high() the higher middle value.
You can use these functions just as you’d use median():

In [26]:
statistics.median_low(x[:-1])

2.5

In [27]:
statistics.median_high(x[:-1])

4

Again, the sorted version of x[:-1] is [1, 2.5, 4, 8.0]. The two elements in the middle are 2.5 (low) and 4 (high).

Unlike most other functions from the Python statistics library, median(), median_low(), and median_high() don’t return nan when there are nan values among the data points

In [31]:
statistics.median(x_with_nan)

6.0

In [29]:
np.median(y)

4.0

In [33]:
statistics.median_high(x_with_nan)

8.0

You can also get the median with np.median():

In [32]:
statistics.median_low(x_with_nan)

4

In [30]:
np.median(y[:-1])

3.25

However, if there’s a nan value in your dataset, then np.median() issues the RuntimeWarning and returns nan. If this behavior is not what you want, then you can use nanmedian() to ignore all nan values:

In [34]:
np.nanmedian(y_with_nan)

4.0

In [35]:
np.nanmedian(y_with_nan[:-1])

3.25

The obtained results are the same as with statistics.median() and np.median() applied to the datasets x and y.

Pandas Series objects have the method .median() that ignores nan values by default:

In [36]:
z.median()

4.0

In [37]:
z_with_nan.median()

4.0

####Mode
The sample mode is the value in the dataset that occurs most frequently. If there isn’t a single such value, then the set is multimodal since it has multiple modal values. For example, in the set that contains the points 2, 3, 2, 8, and 12, the number 2 is the mode because it occurs twice, unlike the other items that occur only once.

This is how you can get the mode with pure Python:

In [38]:
u = [2, 3, 2, 8, 12]
mode_ = max((u.count(item), item) for item in set(u))[1]
mode_

2

In [39]:
mode_ = statistics.mode(u)
mode_

2

###Measures of Variability
The measures of central tendency aren’t sufficient to describe data. You’ll also need the measures of variability that quantify the spread of data points. In this section, you’ll learn how to identify and calculate the following variability measures:

* Variance
* Standard deviation
* Skewness
* Percentiles
* RangesNew Section

---See u next time---